body {
  margin: 0;
}
.container {
  display: flex;
}
.menu {
  background-color: rgb(173, 216, 230);
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  border-radius: 50%;
  height: 160px;
  width: 160px;
  object-fit: cover;
  border: 8px solid;
  border-color: SteelBlue;
}

#about {
  padding-bottom: 300px;
  padding-top: 70px;
}

#experence {
  padding-top: 160px;
  padding-bottom: 350px;
}

#education {
  padding-top: 250px;
  padding-bottom: 520px;
}

#skills {
  padding-bottom: 300px;
  padding-top: 100px;
}

#interests {
  padding-bottom: 300px;
}

#interests p {
  color: #868e96;
}

.contents {
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
  width: calc(100% - 300px);
  padding: 0 20px;
}

.name_lastname {
  font-size: 6rem;
  color: #3c4044;
  font-family: "Bebas Neue", sans-serif;
}

.communication {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #868e96;
  font-size: 20px;
  display: flex;
  justify-items: center;
}

.information {
  word-spacing: 3px;
  color: #868e96;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.icon {
  font-size: 50px;
  color: SteelBlue;
  padding: 10px;
}

.mobil_developer {
  font-size: 25px;
  color: #343a40;
}

.varmi {
  font-size: 18px;
  color: SteelBlue;
}

.mobil_assistant {
  font-size: 25px;
  color: #343a40;
}

.kodline {
  font-size: 18px;
  color: SteelBlue;
}

.mobil_manager {
  font-size: 25px;
  color: #343a40;
}

.pigasoft {
  font-size: 18px;
  color: SteelBlue;
}

.lycee {
  font-size: 25px;
  color: #343a40;
}

.computer {
  color: #868e96;
}

.software {
  color: #868e96;
}

.tools {
  color: #868e96;
}

.workflow {
  color: #868e96;
}
.ticks {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  margin: 0 auto;
}
.ticks div {
  display: flex;
  align-items: center;
}
.ticks i {
  color: steelblue;
  margin-right: 8px;
}

a:link {
  color: SteelBlue;
  text-decoration: none;
}

a:visited {
  color: SteelBlue;
  text-decoration: none;
}

a:hover {
  color: SteelBlue;
  text-decoration: none;
}

a:active {
  color: SteelBlue;
  text-decoration: none;
}
